[Desktop Entry]
Version=1.0
Type=Application
Name=Split 4
Comment=Arrange existing windows in a 2x2 grid
Exec=/home/ivan/github/DevToolbox/spilt_screens/split.sh --num 4
Path=/home/ivan/github/DevToolbox/spilt_screens
Icon=org.gnome.Ptyxis
Terminal=false
StartupNotify=false
Categories=Utility;
