[Desktop Entry]
Version=1.0
Type=Application
Name=Split 16
Comment=Arrange existing windows in a 4x4 grid
Exec=/home/ivan/github/DevToolbox/spilt_screens/split.sh --num 16
Path=/home/ivan/github/DevToolbox/spilt_screens
Icon=org.gnome.Ptyxis
Terminal=false
StartupNotify=false
Categories=Utility;
